<div id="main-content">
	<h1>{{car.name}} {{car.brand}}</h1>

    <img class="img-rounded" ng-src="images/{{car.image}}" width="20%"/>

	<p> Make : {{car.name}} </p>
	<p> Model : {{car.brand}} </p>
	<p> Year : {{car.year}} </p>
	<p> Mileage : {{car.mileage}} </p>
	<p> Condition : {{car.condition}} </p>
	<p> Price : {{car.price}}$ </p>
	<p> Description : {{car.description}}. </p>
	<p> StartDate of availabilty: {{car.startdate}} </p>
	<p> EndDate of availabilty: {{car.enddate}} </p>
	<p> URL : <a href={{car.url}}>{{car.name}} {{car.brand}}</a></p>
	<p> <a href={{carturl}}{{car._id}}> BUY </a></p>
</div>




